body {
    font-family: "Open Sans", calibri, sans-serif;
	margin: 0px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.title2 {
    font-size: 1.5em;
    font-weight: bold;
}

.subtitle{
    font-size: 1.5em;
    font-style: italic;
}

.menuBody{
	background-color: #E6E6E6;
	height: 100%;
	padding-left: 10px;
}

.menuParent{
	padding-left: 3px;
	padding-right: 3px;
	font-family: "consolas";
}

.menuComment{
	color: #888;
	font-family: "arial narrow";
}

.contentBody{
	height: 100%;
	padding-left: 10px;
}

.imgThumbnail{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  width: 300px;
  margin: 10px;
  border: 1px solid black;
}

.bottomMessage{
	color: #CCC;
	margin-top: 50px;
	padding: 10px;
}

.btnSmall{
	background-color: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.1);
	color: rgba(0,0,0,.3);
	font-size: .75em;
	margin-left: 3px;
	box-shadow: none;
}

.btnSmall:hover{
	color: black;
	background-color: rgba(0,0,0,.1);
}

.btnSmall:active{
	color: white;
	background-color: rgba(0,0,0,.5);
}
