<div class="card m-5 shadow-sm">
    <div class="card-header d-flex justify-content-between">
        <div class="fs-4 fw-bold">@(string.IsNullOrWhiteSpace(Group.Title) ? "None" : Group.Title)</div>
        <OriginCommandsModal Group=@Group />
    </div>
    <div class="card-body">

        @if (ShowParents)
        {
            <h5 class="card-title mt-2">Parents</h5>
            @foreach (AbfParentInfo parent in Group.Parents)
            {
                <CellsMenuItem Parent="parent"
                       Tags=Tags
                       IsSelected=false
                       ShowHeading=true
                       Wrap=true
                       ClickOpensModal=true
                       OnSelected="() => SelectParent(parent)" />
            }
        }

        @if (ShowNotes && Group.NotesLines.Any())
        {
            <h5 class="card-title mt-2">Notes</h5>
            @foreach (string line in Group.NotesLines)
            {
                <div class="ms-2 lh-1">
                    <code>@line</code>
                </div>
            }
        }

    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public AbfGroup Group { get; set; } = null!;

    [Parameter, EditorRequired]
    public bool ShowParents { get; set; } = true;

    [Parameter, EditorRequired]
    public bool ShowNotes { get; set; } = true;

    [Parameter, EditorRequired]
    public string[] Tags { get; set; } = Array.Empty<string>();

    private void SelectParent(AbfParentInfo parent)
    {
    }
}
