<div class="p-2" style="background-color: @Color; font-family: 'Arial'; font-size: 1.5em; font-weight: 600;">
	@AbfID
</div>

<div class="border-bottom p-2" style="background-color: #E6E6E6;">
	<div class="d-flex flex-row form-check p-0 m-0">
		@foreach (string color in DefaultColors)
		{
			<div class="px-2 me-1 mt-1 mb-2" style="background-color: @color; border: 1px solid #bebebe;">
				<input class="form-check-input p-0"
				   style="margin: 10px 3px;"
				   type="radio"
				   name="radioColor"
				   checked="@(color == Color)"
				   onchange="@(() => ColorSelected(color))" />
			</div>
		}
	</div>

	<div class="d-flex">
		<input type="text" class="flex-fill me-2 form-control form-control-sm" placeholder="comment" value="@Comment">
		<button type="button" class="flex-fill btn btn-primary btn-sm" disabled=@SaveDisabled>Save</button>
	</div>
</div>

@code {
	[Parameter]
	[EditorRequired]
	public string AbfPath { get; set; } = string.Empty;

	[Parameter]
	[EditorRequired]
	public string Color { get; set; } = string.Empty;

	[Parameter]
	[EditorRequired]
	public string Comment { get; set; } = string.Empty;

	private bool SaveDisabled { get; set; } = true;

	private string AbfID => System.IO.Path.GetFileNameWithoutExtension(AbfPath);

	private string[] DefaultColors = ProjectServer.Shared.CellsTxt.GetDefaultColors();

	private void ColorSelected(string color)
	{
		Color = color;
		SaveDisabled = false;
		StateHasChanged();
	}
}
