<a href=@ImageURL target="_blank">
	<img src=@ImageURL style="height: 200px; border: 1px solid black; margin: 10px; box-shadow: 5px 5px 10px rgb(0 0 0 / 20%)" />
</a>

@code {
	[Parameter]
	[EditorRequired]
	public string ImagePath { get; set; } = string.Empty;

	// TODO: serve this with ASP.NET CORE

	public string ImageURL => ImagePath.Replace("X:", "http://192.168.1.9/X").Replace("\\", "/");
}
