<div class="bg-dark text-light">
	<NavLink href="/">Home</NavLink>
	<NavLink href="/amf?path=X:\Data\zProjects\Aging and eCBs\experiments\CA1\DSI">CA1</NavLink>
	<NavLink href="/amf?path=X:\Data\zProjects\Aging and Cholinergics\experiments\10 uM CCh (bath app)">BLA</NavLink>
	<NavLink href="/AbfFolder?path=X:\Data\SD\DSI\PFC\abfs">FOLDER: PFC</NavLink>
</div>