@inherits LayoutComponentBase

<div class="bg-dark text-light py-2 px-2">
	<a class="px-2" href="/">Home</a>
	<a class="px-2" href="/SingleFolderBrowser">Single Folder ABF Browser</a>
	<a class="px-2" href="/ExperimentBrowser?FolderPath=X:\Data\zProjects\Aging and Cholinergics\experiments\10 uM CCh (bath app)">Multi-Folder ABF Browser</a>
</div>

<main>
	@Body
</main>
