.button-small {
    font-size: 10px;
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    line-height: 150%;
    font-family: Consolas;
}

    .button-small:hover {
        background: #fff8d7;
        border: 1px solid #999;
    }

.cell-row {
    padding: .25em 1em;
    font-size: .8em !important;
    line-height: 200% !important;
}

    .cell-row:nth-child(even) {
        background-color: #e6e6e6
    }

    .cell-row:nth-child(odd) {
        background-color: #f1f1f1
    }

.cell-row-with-comments {
    background-color: #fff8d7 !important;
}

img {
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
    margin: 10px;
    height: 200px;
}

.info-light {
    font-family: Arial, sans-serif;
    opacity: .5;
}

.info-comment {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
}

.tag {
    background-color: #CCC;
    margin: 3px;
    border-radius: 1em;
}
