<button onclick="@GetCopyJS()" class="small-gray-button">
	@Label
</button>

@code {
	[Parameter]
	[EditorRequired]
	public string Label { get; set; } = string.Empty;

	[Parameter]
	[EditorRequired]
	public string Data { get; set; } = string.Empty;

	private string GetCopyJS()
	{
		string safePath = Data.Replace("\\", "/");
		return $"navigator.clipboard.writeText('{safePath}')";
	}
}
