@inject IJSRuntime JSRuntime

<button @onclick=OnClick class="small-gray-button">
	Ignore
</button>

@code {
	[Parameter]
	[EditorRequired]
	public string AbfPath { get; set; } = string.Empty;

	private async Task OnClick()
	{
		bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to ignore this ABF?");
		if (confirmed)
		{
			Console.WriteLine($"ignoring: {AbfPath}");
		}
		else
		{
			Console.WriteLine("ignore abf cancelled");
		}
	}
}
