.small-gray-button {
    cursor: pointer;
    font-family: monospace;
    font-size: .8em;
    background: #fafafa;
    border: 1px solid #ccc;
}

    .small-gray-button:hover {
        background: #fff8d7;
        border: 1px solid #999;
    }

    .small-gray-button:active {
        background: #ede6c5;
    }
