@page "/AbfFolder"
@using ProjectServer.Shared
@using ProjectServer.Client.Components.SingleFolderBrowser
@using ProjectServer.Client.Components.AbfList
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="bg-dark text-light px-3 py-2">
	<span class="pe-2" style="opacity: .5">ABF Folder Browser</span>
	<a href="/">Home</a>
</div>

<header style="background-color: #EEEEEE;">
	<FolderNavigator OnPathChangedCallback=LoadFolder AbfFolder=@SelectedFolder Loading=@Loading />
</header>

@if (SelectedFolder is not null)
{
	@if (@IsAbfFolder)
	{
		<!-- two-column layout where content of the first two elements can independently scroll vertically -->
		<div style="display: grid; grid-template-rows: auto; grid-template-columns: 250px auto;">

			<nav class="ps-2" style="height: 80vh; overflow-x:hidden; overflow-y: auto; overflow: auto;">
				<ParentList AbfParents=AbfParents OnAbfSelectedCallback=SelectParent />
			</nav>

			<main>
				@if (SelectedParent is null)
				{
					<ExperimentInfo AbfFolder=@SelectedFolder />
				}
				else
				{
					<div class="p-2" style="background-color: @SelectedParent.Color; font-family: 'Arial'; font-size: 1.5em; font-weight: 600;">
						@SelectedParent.AbfID
					</div>
					<AbfParentEditor AbfParent=@SelectedParent OnAbfEdited="@OnAbfEdited" />
					<AbfInfoList AbfParent=@SelectedParent />
					<AnalysisThumbnails AbfParent=@SelectedParent />
				}
			</main>

		</div>
	}
	else
	{
		<div class="m-3 text-muted">This folder does not contain ABF files.</div>
	}
}

@code {
	[Parameter]
	[SupplyParameterFromQuery]
	public string FolderPath { get; set; } = string.Empty;

	private AbfParent[] AbfParents => SelectedFolder?.AbfParents ?? Array.Empty<AbfParent>();

	private AbfFolder? SelectedFolder { get; set; } = null;

	private AbfParent? SelectedParent { get; set; } = null;

	private bool IsAbfFolder => (SelectedFolder is not null && SelectedFolder.AbfFilePaths.Any());

	private bool Loading { get; set; } = true;
	private double LoadTimeMilliseconds { get; set; } = 0;

	protected override async Task OnInitializedAsync()
	{
		string initialPath = string.IsNullOrEmpty(FolderPath) ? @"X:/Data" : FolderPath;
		await LoadFolder(initialPath);
	}

	private void SelectParent(string abfid)
	{
		var matchingParents = AbfParents.Where(x => x.AbfID == abfid);
		SelectedParent = matchingParents.Any() ? matchingParents.First() : null;
	}

	private async Task LoadFolder(string path)
	{
		var sw = System.Diagnostics.Stopwatch.StartNew();
		Loading = true;
		FolderPath = path.Replace("/", "\\");
		string apiUrl = "/api/AbfFolder?path=" + FolderPath;
		SelectedFolder = await Http.GetFromJsonAsync<AbfFolder>(apiUrl);
		NavigationManager.NavigateTo(NavigationManager.Uri + $"?FolderPath={FolderPath}");
		Loading = false;
		SelectedParent = null;
		LoadTimeMilliseconds = Math.Round(sw.Elapsed.TotalMilliseconds, 3);
		StateHasChanged();
	}

	private void OnAbfEdited()
	{
		StateHasChanged();
	}
}
