@page "/"

<PageTitle>Project List</PageTitle>

<div class="container my-5">

	<h1>Projects</h1>

	<div class="mt-5"><strong>New ACh project</strong> (daily folders)</div>
	<ul>
		<li><a href='/AbfFolder?FolderPath=X:\Data\zProjects\Aging%20and%20Cholinergics\experiments\10%20uM%20CCh%20(bath%20app)\2022-06-09-DIC2'>daily folder view</a></li>
		<li><a href='/Experiment?FolderPath=X:\Data\zProjects\Aging%20and%20Cholinergics\experiments\10%20uM%20CCh%20(bath%20app)'>experiment view</a></li>
		<li><a href='/Project?FolderPath=X:\Data\zProjects\Aging%20and%20Cholinergics'>project view</a></li>
	</ul>

	<div class="mt-5"><strong>Old ACh project</strong> (one huge folder)</div>
	<ul>
		<li><a href='/AbfFolder?FolderPath=X:\Data\F344\Aging%20BLA\basal%20excitability%20round2\abfs\'>folder view</a></li>
	</ul>

</div>