@page "/"

<PageTitle>Project Server</PageTitle>

<div class="container my-5">

	<h3 class="mt-5">Single Folder Browser</h3>
	<ul>
		<li><a href="/SingleFolderBrowser">Standard ABF Browser</a></li>
		<li>
			Modern projects with daily folders
			<ul>
				<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\zProjects\Aging and Cholinergics\experiments\10 uM CCh (bath app)">Cholinergics</a></li>
				<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\zProjects\Aging and eCBs\experiments\CA1\DSI\">CA1 DSI</a></li>
			</ul>
		</li>

		<li>
			Old projects with many ABFs in one folder
			<ul>
				<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\F344\Aging BLA\basal excitability round2\abfs\">Aging BLA</a></li>
				<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\SD\DSI\PFC\abfs">DSI</a></li>
				<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\SD\ACh-preliminary\abfs">ACh</a></li>
				<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\SD\DSI\CA1\Coronal">DSI2</a></li>
			</ul>
		</li>

	</ul>

	<h3 class="mt-5">Multi Folder ABF Browser</h3>
	<div>
		An <i>experiment folder</i> contains <code>experiment.json</code> and has daily subfolders containing ABF files
	</div>
	<ul>
		<li><a href="/ExperimentBrowser?FolderPath=X:\Data\zProjects\Aging and Cholinergics\experiments\10 uM CCh (bath app)">ACh</a></li>
		<li><a href="/ExperimentBrowser?FolderPath=X:\Data\zProjects\Aging and eCBs\experiments\CA1\DSI">CA1</a></li>
	</ul>
</div>