@page "/"

<PageTitle>Project Server</PageTitle>

<div class="container my-5">

	<h3>Single Folder ABF Browser</h3>
	<ul>
		<li><a class="px-2" href="/AbfFolder?path=X:\Data\SD\DSI\PFC\abfs">X:\Data\SD\DSI\PFC\abfs</a></li>
		<li><a class="px-2" href="/AbfFolder?path=X:\Data\SD\ACh-preliminary\abfs">X:\Data\SD\ACh-preliminary\abfs</a></li>
		<li><a class="px-2" href="/AbfFolder?path=X:\Data\SD\DSI\CA1\Coronal">X:\Data\SD\DSI\CA1\Coronal</a></li>
	</ul>

	<h3>Multi Folder ABF Browser</h3>
	<div><i>not ready yet...</i></div>

</div>