@page "/"

<PageTitle>Project Server</PageTitle>

<div class="container my-5">

	<div class="mt-5 fs-3 fw-bold lh-1">Traditional ABF Browser</div>
	<div><i>For viewing one folder at a time</i></div>
	<ul>
		<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\F344\Aging BLA\basal excitability round2\abfs\">Aging BLA</a></li>
		<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\SD\DSI\PFC\abfs">DSI</a></li>
		<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\SD\ACh-preliminary\abfs">ACh</a></li>
		<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\zProjects\Aging and Cholinergics\experiments\10 uM CCh (bath app)">Cholinergics</a> (daily folders)</li>
		<li><a href="/SingleFolderBrowser?FolderPath=X:\Data\zProjects\Aging and eCBs\experiments\CA1\DSI\">CA1 DSI</a> (daily folders)</li>
	</ul>

	<div class="mt-5 fs-3 fw-bold lh-1">Multi-Folder ABF Browser</div>
	<div><i>For viewing experiment folders with <code>experiment.json</code> and daily subfolders</i></div>
	<ul>
		<li><a href="/ExperimentBrowser?FolderPath=X:\Data\zProjects\Aging and Cholinergics\experiments\10 uM CCh (bath app)">ACh</a></li>
		<li><a href="/ExperimentBrowser?FolderPath=X:\Data\zProjects\Aging and eCBs\experiments\CA1\DSI">CA1</a></li>
	</ul>

</div>