@using ProjectServer.Shared

@if (ExperimentFolder is not null)
{
	foreach (string tag in GetAllTags())
	{
		string tagTitle = string.IsNullOrWhiteSpace(tag) ? "Unknown" : tag;

		<h3>@tagTitle</h3>
		foreach (AbfParent abfParent in GetParentsWithTag(tag))
		{
			<div>
				<span>@abfParent.AbfID</span>
				@foreach (string abfTag in abfParent.Tags)
				{
					<span class="badge rounded-pill text-bg-secondary">@abfTag</span>
				}
			</div>
		}
	}
}

@code {
	[Parameter]
	[EditorRequired]
	public ExperimentFolder? ExperimentFolder { get; set; } = null;

	public AbfParent[] AllParents => (ExperimentFolder is null)
		? Array.Empty<AbfParent>()
		: ExperimentFolder.AbfFolders.SelectMany(x => x.AbfParents).ToArray();

	public string[] GetAllTags()
	{
		return AllParents.SelectMany(x => x.Tags).Distinct().OrderBy(x => x).ToArray();
	}

	public AbfParent[] GetParentsWithTag(string tag)
	{
		return
			string.IsNullOrWhiteSpace(tag)
			? AllParents.Where(x => !x.Tags.Any()).ToArray()
			: AllParents.Where(x => x.Tags.Contains(tag)).ToArray();
	}
}
