@using ProjectServer.Shared

@if (ExperimentFolder is not null)
{
	foreach (string color in AllParents.Select(x => x.Color).Distinct().OrderBy(x => x))
	{
		<div class="card m-5 shadow-sm">
			<h5 class="card-header" style="background-color: @color">
				@if (string.IsNullOrWhiteSpace(color))
				{
					<span>No Color</span>
				}
				else
				{
					<span>Color @color</span>
				}
			</h5>
			<div class="card-body">
				@foreach (AbfParent abfParent in AllParents.Where(x => x.Color == color))
				{
					<div>
						<span>@abfParent.AbfID</span>
						@foreach (string abfTag in abfParent.Tags)
						{
							<span class="badge rounded-pill text-bg-secondary">@abfTag</span>
						}
					</div>
				}
			</div>
		</div>
	}
}

@code {
	[Parameter]
	[EditorRequired]
	public ExperimentFolder? ExperimentFolder { get; set; } = null;

	public AbfParent[] AllParents => (ExperimentFolder is null)
		? Array.Empty<AbfParent>()
		: ExperimentFolder.AbfFolders.SelectMany(x => x.AbfParents).ToArray();
}
