@using ProjectServer.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

@foreach (string imagePath in AbfParent.ChildImagePaths)
{
	string url = imagePath.Replace("X:", "http://192.168.1.9/X").Replace("\\", "/");
	<a href=@url target="_blank">
		<img src=@url style="height: 200px; border: 1px solid black; margin: 10px; box-shadow: 5px 5px 10px rgb(0 0 0 / 20%)" />
	</a>
}

@code {
	[Parameter]
	[EditorRequired]
	public AbfParent AbfParent { get; set; } = new();
}
