@using ProjectServer.Shared
@inject HttpClient Http

<main class="px-2">

	<h3 class="mt-3 fs-3 lh-1">Experiment Notes</h3>
	<div class="lh-1"><code>@AbfFolder?.FolderPath/experiment.txt</code></div>

	@if (ExperimentFileExists)
	{
		<div class="border rounded my-4 p-2" style="background-color: #EEEEEE; border: 1px solid #E6E6E6;">
			<pre>@AbfFolder?.ExperimentTxt</pre>
		</div>
	}
	else
	{
		<div class="alert alert-warning my-4 d-inline-block" role="alert">
			<strong>⚠️ WARNING:</strong> Experiment notes file does not exist!
		</div>
	}
		
		<div class="">
			<button class="btn btn-primary">Edit Experiment Notes</button>
		</div>

</main>

@code {
	[Parameter]
	[EditorRequired]
	public AbfFolder? AbfFolder { get; set; } = null;

	private bool ExperimentFileExists => !string.IsNullOrWhiteSpace(AbfFolder?.ExperimentTxt);
}
