@page "/"
<ul>
	<li><a href="/AbfFolder?folder=X:\Data\zProjects\Aging and Cholinergics\experiments\10 uM CCh (bath app)">modern project (daily folders)</a></li>
	<li><a href="/AbfFolder?folder=X:\Data\C57\Sigma-1R\Ephys\NAc-core-SA4503-incubation\">old project (one big folder)</a></li>
</ul>